@model IEnumerable<EmployeeManagementApp.Models.Employee>
@{
    ViewBag.Title = "All Employee";
}

<div class="card-deck">
    @foreach (var e in Model)
    {
        var photoPath = "~/images/" + (e.PhotoPath ?? "noimage.png");
        <div class="card m-3" style="min-width:18rem;max-width:30.5%">
            <div class="card-header">
                <h3>@e.Name</h3>
            </div>
            <img class="card-img-top" src="@photoPath" height="200" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary m-1">View</a>
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Update" asp-route-id="@e.Id">Edit</a>
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
            </div>
        </div>
    }
</div>